<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark p-2">
    <a class="navbar-brand" href="/"><img class="logo" src="/img/betterplonk64x64.png" sizes="24x24" alt=""></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="homeNavLink" class="nav-link" href="">Home</a>
            </li>
        </ul>
    </div>
    <a class="navbar-brand btn btn-danger btn-small ms-auto" style="color: white;" href="/auth/logout"> <i class="fa fa-sign-out"></i> <span class="d-none d-md-inline">Logout</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>