<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark p-2">
    <a class="navbar-brand" href="/"><img class="logo" src="/img/betterplonk64x64.png" sizes="24x24" alt=""></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="homeNavLink" class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ScrapNavDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Scraping
                </a>
                <ul class="dropdown-menu" aria-labelledby="ScrapNavDropdown">
                    <li><a class="dropdown-item" href="/scrap/Data">Get Data</a></li>
                    <li><a class="dropdown-item" href="/scrap/Settings">Settings</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="HistoryNavDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    History
                </a>
                <ul class="dropdown-menu" aria-labelledby="HistoryNavDropdown">
                    <li><a class="dropdown-item" href="/history/KPIs">KPIs</a></li>
                    <li><a class="dropdown-item" href="/history/Games">Games</a></li>
                    <li><a class="dropdown-item" href="/history/Rivals">Rivalries</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="TrainingNavDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Training
                </a>
                <ul class="dropdown-menu" aria-labelledby="TrainingNavDropdown">
                    <li><a class="dropdown-item" href="/training/Blunders">Blunders</a></li>
                    <li><a class="dropdown-item" href="/training/Countries">Countries</a></li>
                    <li><a class="dropdown-item" href="/training/Patterns">Patterns</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <a class="navbar-brand btn btn-danger btn-small ms-auto" style="color: white;" href="/auth/logout"> <i class="fa fa-sign-out"></i> <span class="d-none d-md-inline">Logout</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>