<%- include('../commons/head.com.ejs', {title: 'Home'}) %>

<body>
    <%- include('../commons/navbar.com.ejs', {user: user, currentProject: 'Select project', currentProjectKey: '', urlSuffix: ''}) %>
    <h3>Home page</h3>
</body>

<%- include('../commons/foot.com.ejs') %>

<script src="/js/home.js"></script>