<%- include('../commons/head.com.ejs', {title: 'Home'}) %>

<body>
    <%- include('../commons/navbar.com.ejs', {user: user}) %>
    <div class="p-3"><h3>Home page</h3></div>
</body>

<%- include('../commons/foot.com.ejs') %>

<script src="/js/home.js"></script>