<%- include('../commons/head.com.ejs', {title: 'Scrap Data'}) %>

<body>
    <%- include('../commons/navbar.com.ejs', {user: user}) %>
    <div class="p-3">
        <h3>Data scraping page</h3>
        <h6>Here you can import your data from Geoguessr into BetterPlonk's database.</h6>
        <p>
            This will be multiple paragraphs explaining how to use it.<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
        </p>
        <hr>
        <%- include('../partials/scrapbuttonsection.part.ejs', {user, latestGame, gameStats}) %>
    </div>
</body>

<%- include('../commons/foot.com.ejs') %>

<script src="/js/scrapdata.js"></script>